services:
  backend:
    build: .
    ports:
      - "3000:3000"
    env_file:
      - ./.env
  db:
    image: mysql:8.0.44-debian
    restart: always
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d 
    environment:
      MYSQL_ROOT_PASSWORD: salva
      MYSQL_DATABASE: proyectofinal


volumes:
  mysql_data: